[submodule "fpga"]
        path = fpga
        url = https://github.com/hakrdt/lowrisc-fpga.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/hakrdt/rocket-chip
[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/hakrdt/riscv-linux.git
[submodule "debian-riscv64"]
	path = debian-riscv64
	url = https://github.com/hakrdt/debian-riscv64.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/hakrdt/qemu.git
